header {
    background-color: navy;
    color: orchid;
    text-align: center;
}

main {
    background-color: lightgray;
}

html {
    background-image: url(record.png);
    background-repeat: repeat;
}