header {
    background-color: navy;
    color: orchid;
    text-align: center;
}

body {
    margin: 0;
}

main {
    background-color: lightgray;
    padding: 1em;
}

html {
    background-image: url(record.png);
    background-repeat: repeat;
}